.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated


/ChillerBot*
/DDNet-Server*
/crapnet*
/config_store*
/config_retrieve*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/serverlaunch_*
/tileset_border*
/twping*
/versionsrv*

*.db
*.bat
.cproject
.project
buildlog.txt
/Debug
/*.dll
*.dtb
*.log
*.exe
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.pyc
