.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
FNN/*.fnn

src/.vscode/
.vs/
/ChillerBot*
/DDNetPP*
/crapnet*
/config_store*
/config_retrieve*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/serverlaunch_*
/tileset_border*
/twping*
/versionsrv*

debug.txt
wrong_rcon.txt
wrong_login.txt
*.dat
*.acc
*.db
*.opendb
*.bat
.cproject
.project
buildlog.txt
/Debug
*.dll
*.dtb
*.log
*.exe
*.cfg
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
