CMakeLists.txt merge=ours
autoexec_server.cfg merge=ours
README.md merge=ours
# TODO: remove this
src/engine/server/authmanager.cpp merge=ours

other/*/include/* linguist-vendored
src/engine/external/* linguist-vendored
