autoexec_server.cfg merge=ours
data/maps merge=ours
README.md merge=ours
license.txt merge=ours
.github/workflows/main.yml merge=ours

other/*/include/* linguist-vendored
src/engine/external/* linguist-vendored

