data/
!/data/

bundle/
!/other/bundle/

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Debug
Makefile
Release
_CPack_Packages/
build.ninja
cmake_install.cmake
gmock.pc
gmock_main.pc
googletest-build/
googletest-download/
googletest-src/
gtest.pc
gtest_main.pc
install_manifest*.txt
ninja_package
pack_*/
rules.ninja
testrunner\[1\]_include.cmake

.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
FNN/*.fnn

ChillerBot
DDNetPP
config_retrieve
config_store
crapnet
dilate
dummy_map
fake_server
map_diff
map_extract
map_replace_image
map_resave
map_version
mastersrv
packetgen
testrunner
tileset_borderadd
tileset_borderfix
tileset_borderrem
tileset_borderset
twping
unicode_confusables
uuid
versionsrv

generated/

.cproject/
.idea/
.vscode/
.vs/

debug.txt
wrong_rcon.txt
wrong_login.txt
*.dat
*.acc
*.db
*.opendb
*.bat
.cproject
.project
buildlog.txt
/Debug
*.dll
*.dtb
*.log
*.exe
*.cfg
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
