[submodule "ddnet-libs"]
	path = ddnet-libs
	url = https://github.com/ddnet/ddnet-libs
[submodule "data/maps"]
	path = data/maps
	url = git@github.com:DDNetPP/maps.git
	shallow = true
[submodule "src/external/DDNetPP-bots"]
	path = src/external/DDNetPP-bots
	url = git@github.com:DDNetPP/DDNetPP-bots.git
