CMakeLists.txt merge=ours
autoexec_server.cfg merge=ours
README.md merge=ours
license.txt merge=ours
.github/workflows/main.yml merge=ours
cmake/FindNotify.cmake merge=ours
cmake/FindMiniupnpc.cmake merge=ours
cmake/FindAndroid.cmake merge=ours
cmake/FindOpusfile.cmake merge=ours
cmake/FindWebsockets.cmake merge=ours
cmake/FindSDL2.cmake merge=ours
cmake/FindZLIB.cmake merge=ours
cmake/FindFreetype.cmake merge=ours
cmake/FindSQLite3.cmake merge=ours
cmake/FindFFMPEG.cmake merge=ours
cmake/FindOgg.cmake merge=ours
cmake/FindDiscordSdk.cmake merge=ours
cmake/toolchains merge=ours
cmake/toolchains/mingw32.toolchain merge=ours
cmake/toolchains/darwin.toolchain merge=ours
cmake/toolchains/mingw64.toolchain merge=ours
cmake/FindOpus.cmake merge=ours
cmake/FindMySQL.cmake merge=ours
cmake/FindCurl.cmake merge=ours
cmake/FindWavpack.cmake merge=ours
cmake/FindGLEW.cmake merge=ours
cmake/Download_GTest_CMakeLists.txt.in merge=ours
cmake/FindCrypto.cmake merge=ours
cmake/FindPnglite.cmake merge=ours
# TODO: remove this
src/engine/server/authmanager.cpp merge=ours
src/engine/server/authmanager.h merge=ours

other/*/include/* linguist-vendored
src/engine/external/* linguist-vendored
