name: Check ASan & UBSan

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
      - master
  pull_request:
  merge_group:

jobs:
  check-clang-san:
    runs-on: ubuntu-latest
    env:
      CARGO_HTTP_MULTIPLEXING: false
      UBSAN_OPTIONS: suppressions=../ubsan.supp:log_path=SAN:print_stacktrace=1:halt_on_error=0
      ASAN_OPTIONS: log_path=SAN:strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1:detect_leaks=1:halt_on_error=0
      LSAN_OPTIONS: suppressions=../lsan.supp
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Prepare linux
      run: |
        sudo apt-get update -y
        sudo apt-get install pkg-config cmake ninja-build libfreetype6-dev libnotify-dev libsdl2-dev libsqlite3-dev libavcodec-dev libavformat-dev libavutil-dev libswresample-dev libswscale-dev libx264-dev libvulkan-dev glslang-tools spirv-tools libglew-dev -y
    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
    - name: Build with ASan and UBSan
      run: |
        mkdir clang-sanitizer
        cd clang-sanitizer
        export CC=clang
        export CXX=clang++
        SAN_FLAGS="-fsanitize=address,undefined,leak -fsanitize-recover=all -fno-omit-frame-pointer -fno-common"
        export CXXFLAGS="$SAN_FLAGS"
        export CFLAGS="$SAN_FLAGS"
        cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DHEADLESS_CLIENT=ON -Werror=dev -DDOWNLOAD_GTEST=ON -DDEV=ON ..
        cmake --build . --config Debug --target everything
        mv DDNetPP DDNet-Server
